*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
   
}

a{
    text-decoration: none;
}

.active{
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
}

.navbar{
    display: flex;
    top: 0;
    margin-left: 3%;
    width: 100%;
    justify-content: space-between;
    color: whitesmoke;
    background-color: transparent;
    position: absolute;
    padding: 1.7%;
}

.nav-links{
    
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 4%;
}

.nav-links li{
    
    margin: 0px 30px;
    align-items: center;
}


header{
    width: 100vw;
    height: 100vh;
    background-image: url('./img/header-bg.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;

}

.header-content{
    margin-bottom: 10%;
    text-align: center;
}

.header-content h2{
    font-size: 4vmin;
}

 .line1{
    width: 30%;
    height: 4px;
    background-color: aqua;
    margin: 10px auto;
    border-radius: 5px;
} 

.line2{
    width: 30%;
    height: 4px;
    background-color: aqua;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 5%;
    margin-bottom: 8%;
}

.ctn{
    padding: 8px 15px;
    background-color: #fc036b;
    color: white;
    border: none;
    border-radius: 15px;
    
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    margin: 0% 0% ;
    display: none;

}

.section2{
    
    width: 80%;
    margin: 80px auto;
    
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: #484872;
}


.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    
}


.section2 .row .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 3%;
}

.section2 .row .col img{
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
   
}

.section2 .row .col img:hover{
    transform: scale(1.09);
   
}

.section2 .row .col .ctn{
    margin-top: 2%;
}

.section2 .row .col p{
    margin-top: 2%;
}
.section2 .row .col h3{
    margin-top: 3%;
    
}

.section03{
    width: 100%;
    height: 100vh;
    background-image: url('./img/bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
}

.section03 .sec03-cont{
    width: 60%;
    padding: 50px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.section03 .sec03-cont h2{
    font-size: 6vmin;
    margin: 30px;
    color: whitesmoke;
}

.section03 .sec03-cont .line2{
    margin-bottom: 40px;
    
}

.section03 .sec03-cont p{
    font-size: 18px;
    color: white;
    
}

.sec03-cont a{
    margin-top: 2%;
}




.section04 .row04{
    display: flex;
    padding: 2%;
    justify-content: center;
    margin: 2px auto;
    
}

.section04 .row04 .col04{
    width: 40%;
    text-align: left;
    margin: auto 1%;
    
    
    
    
}

.section04 .row04 .col05{
    width: 55%;
    text-align: center;
    margin-top: 8%;
    
    
    
}
.section04 .row04 .col04 .gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    
}
.section04 .row04 .col04 .gallery img{
    max-width: 25%;
    padding: 2%;
   
}


.section04 .row04 .col04 h2{
    font-size: 5vh;
    color: #484872;
}

.section04 .row04 .col04 p{
    font-size: 3vmin;
    color: #000000;
    margin: 30px auto;
}

.section04 .row04 .col04 .line2{
    margin-left: 1px;
    justify-content: center;
    
}

.section04 .row04 .col04 .ctn{
    margin-top: 12%;
    margin-bottom: 12%;
    
}

footer{
    width: 100%;
    min-height: 100px;
    background-color: #484872;
    padding: 20px 80px;
    text-align: center;
    margin: 0;
}

footer p{
    text-align: center;
    color: whitesmoke;
    margin: 20px auto;
    

}

footer{}

@media only screen and (max-width:850px){

    .header-content{
        margin-bottom: 20%;
    }
    .navbar{
        padding: 0;
       margin: 1px auto;
        width: 100vw;
    }

    .logo{
        position: absolute;
        top: 30px;
        left: 40px;
        font-size: 40px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #484872;
        margin-top: -900px;
        transition: all 0.5s ease;
        
    }
    .mobile-menu{
        margin-top: 0px;
    }

    .nav-links li{
        margin: 30px auto;
    }

    .menu-btn{
        display: block;
    }

    .row{
        flex-direction: column;
    }

    .row .col{
        margin: 20px auto;
    }

    .col img{
        max-width: 90%;
    }

    .sec03-cont{
        width: 100%;
    }

    .row04{
        flex-direction: column;
    }

    .section04 .row04 .col05{
        width: auto;
    }

    .section04 .row04 .col04{
        width: auto;
        text-align: center;
       
    }

    .section04 .row04 .col04 .line2{
        
        margin: 3% auto;
    }

    .section04 .row04 .col04 .gallery img{
        width: 90%;
    }

    .footer{
        padding: 10px;
    }
}